%move-animation {
    opacity: 0;
    animation: move, appear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}


.card {
    display: flex;
    border-radius: 10px;
    background-color: $second-color;
    padding: 5px;
    box-shadow: $shadow;
    opacity: 0;

    @extend %move-animation;

    .user-icons {
        display: flex;
         flex-direction: column;
         align-items: center;
     
        .picturevisitor {
            max-height: 90px;
            max-width: 90px;    
            border-radius: 50%;
            margin-top: 5px;
         }

        .ratingvisitor {
            font-size: 0px;
            white-space: nowrap;
        }
    
    }

    .user-text {
        margin-top: 20px;
    }
   
    .bio {
        color: #727272;
        font-size: 14px;
        margin-top: 10px;
    }
}
//pseudo-elementos criados para animar os cards de forma distinta
.card:nth-child(even) {
    animation-delay: 2.5s; 
}

.card:nth-child(odd) {
    animation-delay: 2.2s;
}

.card:nth-child(3n+3) {
    animation-delay: 2.8s; 
}

//propriedades dos keyframes 

    @keyframes appear {
        0%  {
            opacity: 0;
           
        }

        100% {
            opacity: 1;
          
        }


    }

    @keyframes move {
        from {transform: translateX(50px)}
        to {transform: translateX(0px)}

    }
