.card {
    display: flex;
    border-radius: 10px;
    background-color: $second-color;
    padding: 5px;
    box-shadow: $shadow;

    .user-icons {
        display: flex;
         flex-direction: column;
         align-items: center;
     
        .picturevisitor {
            max-height: 90px;
            max-width: 90px;    
            border-radius: 50%;
            margin-top: 5px;
         }

        .ratingvisitor {
            font-size: 0px;
            white-space: nowrap;
        }
    
    }

    .user-text {
        margin-top: 20px;
    }
   
    .bio {
        color: #727272;
        font-size: 14px;
        margin-top: 10px;
    }
}
