//Variables
$jump-effect: (cubic-bezier(.05,1.84,1,1.01));

//Mixin
@mixin appear-animation ($duration, $delay, $timing-function) {
    opacity: 0;
    animation-name: appear;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-timing-function: $timing-function;
    animation-fill-mode: forwards;
}


@mixin popin-animation ($duration, $delay) {
animation-name: popin;
animation-duration: $duration;
animation-timing-function: $jump-effect;
}

@mixin from-bottom-animation ($duration, $delay) {
    opacity: 0;
    animation-name: appear, surgeh1;
    animation-duration: 0.1s, $duration;
    animation-delay: $delay;
    animation-timing-function: linear, $jump-effect;
    animation-fill-mode: forwards;
}

@mixin stretch-animation ($duration, $delay, $timing-function) {
    opacity: 0;
    width: 0;
    animation-name: appear, stretch;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-timing-function: $timing-function;
    animation-fill-mode: forwards;
}

@mixin from-top-animation ($duration, $delay) {
    opacity: 0;
    animation-name: appear, surge;
    animation-duration: 0.1s, $duration;
    animation-delay: $delay;
    animation-timing-function: linear, $jump-effect;
    animation-fill-mode: forwards;
}

@mixin moving-animation ($duration, $delay) {
    opacity: 0;
    animation: moving, appear;
    animation-duration: $duration;
    animation-delay: $delay; 
    animation-fill-mode: forwards;
}

//SASS Code
.user-box {
   display: flex;
   width: 100%;
   flex-direction: column;
   border-radius: 10px;
   align-items: center;
   padding: 20px;
   background: $second-color;
   box-shadow: $shadow;
   @include popin-animation(1s, 0s);


   .picture {
    width: 200px; 
    height: 200PX;
    border-radius: 50%; 
    background-size: cover; 
    background-position: center center;   
    @include from-bottom-animation(0.5s, 2s);
   }  
   


   h1 {
        font-size: 36px;
        font-style: normal;
        line-height: 42px;
        font-weight: 500;
        margin: 0;
        @include from-bottom-animation(0.5s, 1.5s);
   }

   hr {
       height: 2px;
       color: #EBEBEB;
       @include stretch-animation(0.5s, 1s, linear);
   }

   .userrating  {
        margin-bottom: 5px;
        @include from-top-animation(0.5s, 1.5s);
    }
 
    .visits {
        margin-top: 10px;
        font-weight: bold;
        font-style: normal;
        line-height: 21px;
        font-size: 18px;
        @include moving-animation(0.5s, 1.5s);
    }
  
}

//keyframes 

@keyframes popin {
    0% {
        transform: scale(0);
        transform-origin: top center;
    }

    100% {
        transform: scale(1);
    }

   }
@keyframes stretch {
    0% {
        width: 0px;  
    }
    100% {
        width: 100%;
    }

   }

@keyframes moving {
    from {transform: translateX(-50px)}
    to {transform: translateX(0px)}
}

@keyframes surge {
    from {transform: translateY(-25px)}
    to {transform: translateY(0px)}
   }

   @keyframes surgeh1 {
    from { transform: translateY(25px)}
    to {transform: translateY(0px)} 


   }