$jump-effect: (cubic-bezier(.05,1.84,1,1.01));

%popin {
animation-name: popin;
animation-duration: 1s;
animation-timing-function: $jump-effect;
}

%appear-animation {
    opacity: 0;
    animation-name: appear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

%surgeh1-animation {
    opacity: 0;
   animation-name: appear, surgeh1;
   animation-duration: 0.1s, 0.5s;
   animation-timing-function: linear, $jump-effect;
   animation-fill-mode: forwards; 
}
%stretch-animation {
    opacity: 0;
    animation-name: appear, stretch;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

%surge-animation { 
    opacity: 0;
    animation: surge, appear;
    animation-duration: 0.5s, 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: $jump-effect, linear; 
}

%moving-animation {
    opacity: 0;
    animation: moving, appear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.user-box {
   display: flex;
   width: 100%;
   flex-direction: column;
   border-radius: 10px;
   align-items: center;
   padding: 20px;
   background: $second-color;
   box-shadow: $shadow;
   @extend %popin; 


   .picture {
       max-height: 200px;
       border-radius: 50%;
   }   

   h1 {
       font-size: 36px;
       font-style: normal;
       line-height: 42px;
       font-weight: 500;
       margin: 0;

       @extend %surgeh1-animation;
       animation-delay: 1.5s;

   }

   hr {
       height: 2px;
       width: 100%;
       color: #EBEBEB;
       opacity: 0;
       @extend %stretch-animation;
       animation-delay: 1s;
      
   }

   .ratinguser  {
        margin-bottom: 5px;
        @extend %surge-animation;
        animation-delay: 1.5s;
    }
 
  

    .visits {
        margin-top: 10px;
        font-weight: bold;
        font-style: normal;
        line-height: 21px;
        font-size: 18px;
        @extend %moving-animation;
        animation-delay: 1.5s;
    }
  
}

//keyframes 

@keyframes popin {
    0% {
        transform: scale(0);
        transform-origin: top center;
    }

    100% {
        transform: scale(1);
    }

   }
@keyframes stretch {
    0% {
        width: 0px;  
    }
    100% {
        width: 100%;
    }

   }

@keyframes moving {
    from {transform: translateX(-50px)}
    to {transform: translateX(0px)}
}

@keyframes surge {
    from {transform: translateY(-25px)}
    to {transform: translateY(0px)}
   }

   @keyframes surgeh1 {
    from { transform: translateY(25px)}
    to {transform: translateY(0px)} 


   }