@media screen and (min-width: 682px) {
        
    .maincontainer {
        align-items: start;
        grid-template-columns: 40% auto;
    }

    .rightcontainer {
        width: 100%;
    }

    .picture {
        max-height: 175px;
        border-radius: 50%;
    }

}

@media screen and (min-width: 895px) {
    
    .maincontainer {
        align-items: start;
        grid-template-columns: 30% auto;
    }

    .friendscontainer {
        grid-template-columns: auto auto;
    }

}

@media screen and (min-width: 1024px) {

    .maincontainer {
        grid-template-columns: minmax(250px, 420px) auto;
    }

    .friendscontainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}