@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-nunito;
  flex-direction: column;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 90vh;
}
.body-open {
  opacity: 1;
}

.Modal {
  overflow: auto;
  position: relative;
  padding: 0;
  opacity: 1;
  background-color: white;
  width: 100%;
  height: 100%;
  margin: auto;
}

.Overlay {
  max-width: 100%;
  background-color: #2b314060;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: 640px) {
  .Modal {
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid #6b6b6d;
    border-radius: 8px;
    max-height: 75%;
    width: 560px;
  }
}

@media (min-width: 780px) {
  .Modal {
    width: 666px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.filter-primary {
  filter: invert(32%) sepia(91%) saturate(1412%) hue-rotate(212deg)
    brightness(78%) contrast(98%);
}
.search-box {
  display: flex;
  width: 250px;
  flex-direction: row;
}

.pokemons-container {
  display: flex;
  flex-wrap: wrap;
}
.pokemon-avatar {
  height: 120px;
  width: 120px;
}

.pokemon-card {
  display: flex;
  align-items: center;
  margin: 20px;
  width: 200px;
  flex-direction: column;
}

.ability-container {
  overflow-y: scroll;
  width: 100%;
  height: 100px;
}

li {
  list-style-type: none;
}
