.display {
  flex: 31;
  width: 100%;
  background-color: rgb(227, 228, 229, 0.1);
  display: flex;
  flex-direction: column;
}

.display__menu-button {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}

.display__menu-button__line {
  height: 0px;
  border: 1px solid #4c4c4d;
  margin-bottom: 6px;
}

.display__calculum-container {
  padding: 0 16px;
}

.display__calculum-container--log {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: right;
  color: #979899;
  margin: 0;
}

.display__calculum-container--calculum {
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  padding: 16 0px;
  margin: 0;
  color: #4c4c4d;
  letter-spacing: 0em;
  text-align: right;
}

.display__buttons-container {
  display: flex;
  height: 100%;
  padding: 8px 16px;
}

.display__function-buttons-container {
  display: flex;
  align-items: flex-end;
}
.display__function-button {
  width: 80px;
  height: 24px;
  border-radius: 12px;
  margin-right: 8px;
  background-color: rgb(227, 228, 230, 0.5);
}
.display__function-button__text {
  font-size: 11px;
  line-height: 24px;
}

.display__clear-button-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.display__clear-button {
  width: 24px;
  height: 18px;
}
