.history-screen {
  height: 569px;
  width: 296px;
}

.history-screen__header {
  height: 24px;
  width: 100%;
  background-color: peru;
}

.history-screen__history-container {
  height: 390px;
  width: 100%;
  background-color: rebeccapurple;
}
