.keyboard {
  flex: 65;
  margin: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 32px;
}
.keyboard__button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.keyboard__button__text {
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}

.keyboard__button--operation-background {
  background-color: rgb(104, 89, 179, 0.05);
}

.keyboard__button--operation--text {
  color: rgb(104, 89, 179);
}

.keyboard__button__equals {
  width: 40%;
  border-radius: 7px;
  border: 1px solid #6859b3;
  box-sizing: border-box;
}
