#podium {
  height: 184px;
  width: 184px;
}

#calendar {
  @extend #podium;
  margin-top: 30px;
}

#favorite-numbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#favorite-operations {
  @extend #favorite-numbers;
}

.favorite-numbers-2 {
  align-self: flex-start;
  margin-left: 15px;
  margin-top: -15px;
}

.favorite-numbers-3 {
  align-self: flex-end;
  margin-right: 15px;
  margin-top: -15px;
}

.favorite-numbers-4 {
  align-self: flex-start;
  margin-left: 15px;
  margin-top: -15px;
}

#empty-stats-container {
  display: block;
}

#filled-stats-container {
  display: none;
  width: 100%;
  height: 100%;
}

.stats-screen {
  height: 463px;
  width: 100%;
  background-color: rgb(227, 228, 229, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__stats-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__fav-operations--img {
    width: 224px;
  }

  &__total-op-text {
    margin-top: 53px;
    color: #979899;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }

  &__total-op-value {
    font-size: 25px;
    color: #4c4c4d;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    margin-top: 5px;
    text-align: center;
  }

  &__favorite-number-div {
    margin-left: 5px;
  }

  &__total-op-times {
    @extend .stats-screen__total-op-value;
    font-size: 10px;
    font-weight: 300;
    line-height: 10px;
  }
  &__fav-op {
    margin-top: 26px;
    display: flex;
    justify-content: center;

    &-text {
      margin-top: 53px;
      color: #979899;
      text-align: center;
      width: 100%;
      font-weight: 400;
      font-size: 16px;
    }

    &-calc {
      font-size: 15px;
      font-weight: 400;
      line-height: 12px;
      letter-spacing: 0em;
      color: #4c4c4d;
    }

    &-result {
      @extend .stats-screen__fav-op-calc;
      color: #6859b2;
    }

    &-img {
      width: 224px;
      align-self: center;
    }
  }

  &__total-op-img {
    margin-top: 65px;
    width: 184px;
    align-self: center;
  }
}
