@import 'keyboard';
@import 'display';
@import 'history';
@import 'footer';
@import 'navbar';

body {
  background-color: grey;
  font-family: Inter;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

::-webkit-scrollbar-track {
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #6859b2;
  border: 1.2px solid #6859b3;
  width: 0px;
  height: 0px;
}

p {
  text-align: center;
  margin: 0px;
  cursor: default;
}

.calc-screen {
  display: flex;
  flex-direction: column;
  height: 569px;
  width: 296px;
  background-color: #ffffff;
  margin: 5px;
}

.calc-screen__header {
  height: 24px;
  width: 100%;
  background-color: #e3e4e5;
  opacity: 10%;
}
