<html>
  <head>
    <title>IziPizi - You personal calculator</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inter"
    />
  </head>

  <body>
    <div class="history-screen">
      <div class="history-screen__header"></div>
      <div class="history-screen__display">
        <img
          class="history-screen__display__back-button"
          src="<%= require('./img/back-button.svg').default %>"
        />
        <div class="nav-bar">
          <div class="navbar__button">
            <p class="navbar__button--text--left--history">Histórico</p>
          </div>
          <div class="navbar__button" onclick="window.location.href = '/stats.html'">
            <p class="navbar__button--text--right" >Estatísticas</p>
          </div>
        </div>
      </div>

      
        <div class="history-screen__history-container">
          
          <div class="history-screen__history-container__empty-history" id="empty-history">
            <p class="empty-history--text">Ainda não há histórico</p>
            <img
              class="empty-history--img"
              src="<%= require('./img/empty-history-img.svg').default %>"
            />
          </div>
        
        
          <div class="history-screen__history-container__filled-history " id ="filled-history">
            <div class="history-container__calculum">
              <h3 class="calculum__operation">678+910-13*5/7=</h3>
              <h2 class="calculum__result">1125</h2>
            </div>
            <div class="history-container__calculum">
              <h3 class="calculum__operation">678+910-13*5/7=</h3>
              <h2 class="calculum__result">1125</h2>
            </div>
            <div class="history-container__calculum">
              <h3 class="calculum__operation">678+910-13*5/7=</h3>
              <h2 class="calculum__result">1125</h2>
            </div>
            <div class="history-container__calculum">
              <h3 class="calculum__operation">678+910-13*5/7=</h3>
              <h2 class="calculum__result">1125</h2>
            </div>
            <div class="history-container__calculum">
              <h3 class="calculum__operation">678+910-13*5/7=</h3>
              <h2 class="calculum__result">1125</h2>
            </div>
        
          </div>
      
        
      
    </div>
    <footer class="footer">
      <div class="footer__nav-bar">
        <div class="footer__navbar--button">
          <img
            class="footer__navbar--button--icon"
            src="<%= require('./img/trash.svg').default %>"
          />
        </div>
        <div class="footer__navbar--button">
          <img
            class="footer__navbar--button--icon"
            src="<%= require('./img/star.svg').default %>"
          />
        </div>
        <div class="footer__navbar--button">
          <img
            class="footer__navbar--button--icon"
            src="<%= require('./img/stats.svg').default %>"
          />
        </div>
      </div>
      <div class="footer__calc-button">
        <p class="footer__calc-button--text">Calcular</p>
      </div>
    </footer>
  </body>
</html>
