<html>
  <head>
    <title>IziPizi - You personal calculator</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inter"
    />
  </head>
  <body>
    <div class="calc-screen">
      <div class="screen-header"></div>
      <div class="screen-display">
        <div class="menu-button">
          <img
            id="line1"
            src="<%= require('./img/menubuttonvector.svg').default %>"
          /><img
            id="line2"
            src="<%= require('./img/menubuttonvector.svg').default %>"
          /><img
            id="line3"
            src="<%= require('./img/menubuttonvector.svg').default %>"
          />
        </div>
        <div class="calculum-render-container">
          <h3>678 + 910 - 13 x 5 / 7 =</h3>
          <h2>1.125</h2>
        </div>

        <div class="display-buttons">
          <div class="method-buttons-container">
            <div class="method-button" id="copy-button">
              <p class="method-button-text">copiar</p>
            </div>
            <div class="method-button" id="export-button">
              <p class="method-button-text">exportar</p>
            </div>
          </div>
          <div class="clear-button-container">
            <img
              id="clear-button"
              src="<%= require('./img/clearbutton.svg').default %>"
            />
          </div>
        </div>
      </div>
      <div class="operate-screen">
        <div id="buttons-container">
          <div class="button"><p>C</p></div>
          <div class="button"><p>+/-</p></div>
          <div class="button"><p>%</p></div>
          <div class="button" id="operation-button">
            <p id="operation-text">/</p>
          </div>
          <div class="button"><p>7</p></div>
          <div class="button"><p>8</p></div>
          <div class="button"><p>9</p></div>
          <div class="button" id="operation-button">
            <p id="operation-text">X</p>
          </div>
          <div class="button"><p>4</p></div>
          <div class="button"><p>5</p></div>
          <div class="button"><p>6</p></div>
          <div class="button" id="operation-button">
            <p id="operation-text">-</p>
          </div>
          <div class="button"><p>1</p></div>
          <div class="button"><p>2</p></div>
          <div class="button"><p>3</p></div>
          <div class="button" id="operation-button">
            <p id="operation-text">+</p>
          </div>
          <div class="button"><p>0</p></div>
          <div class="button"><p>,</p></div>
          <div class="button" id="equal-button">
            <p id="operation-text">=</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
