<html>
  <head>
    <title>IziPizi - You personal calculator</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inter"
    />
  </head>

  <body>
    <div class="history-screen">
      <div class="history-screen__header"></div>
      <div class="history-screen__display">
        <img
          class="history-screen__display__back-button"
          onclick="window.location.href = '/'"
          src="<%= require('./img/back-button.svg').default %>"
        />
        <div class="nav-bar">
          <div
            class="nav-bar__button"
            onclick="window.location.href = '/history.html'"
          >
            <p class="nav-bar__button--text">Histórico</p>
          </div>
          <div class="nav-bar__button">
            <p class="nav-bar__button--text--onpage">Estatísticas</p>
          </div>
        </div>
      </div>

      <div class="stats-screen">
        <div class="stats-screen__favorite-operations-container">
          <p class="stats-screen__fav-op-text">Operações favoritas</p>
          <div class="stats-screen__fav-op">
            <p class="stats-screen__fav-op-calc">678+910-13x5/7=</p>
            <p class="stats-screen__fav-op-result">1125</p>
          </div>
          <img
            class="stats-screen__fav-op-img"
            src="<%= require('./img/fav-operations-img.svg').default %>"
          />
        </div>

        <div class="stats-screen__total-operations-container">
          <p class="stats-screen__total-op-text">
            Total de operações
          </p>
          <p class="stats-screen__total-op-value">119</p>

          <img
            class="stats-screen__total-op-img"
            src="<%= require('./img/total-operations-img.svg').default %>"
          />
        </div>
      </div>
    </div>
  </body>
</html>
