<html>
  <head>
    <title>IziPizi - You personal calculator</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inter"
    />
  </head>

  <body>
    <div class="history-screen">
      <div class="history-screen__header"></div>
      <div class="history-screen__display">
        <img
          class="history-screen__display__back-button"
          onclick="window.location.href = '/'"
          src="<%= require('./img/back-button.svg').default %>"
        />
        <div class="nav-bar">
          <div
            class="nav-bar__button"
            onclick="window.location.href = '/history.html'"
          >
            <p class="nav-bar__button--text">Histórico</p>
          </div>
          <div class="nav-bar__button">
            <p class="nav-bar__button--text--onpage">Estatísticas</p>
          </div>
        </div>
      </div>

      <div class="stats-screen">
        <div id="empty-stats-container">
          <p class="stats-screen__fav-op-text">Ainda não há estatísticas</p>
          <img
            class="stats-screen__total-op-img"
            src="<%= require('./img/total-operations-img.svg').default %>"
          />
        </div>

        <div id="filled-stats-container">

          <div class="glide">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides">
                <li class = "glide__slide">
                  <div class = "slide">
                  <p class="stats-screen__total-op-text">
                    Total de operações
                  </p>
                  <p
                    class="stats-screen__total-op-value"
                    id="total-operations"
                  >
                  </p>
                  <img
                  class="stats-screen__total-op-img"
                  src="<%= require('./img/total-operations-img.svg').default %>"
                  />
                  </div>
                </li>
                <li class="glide__slide">
                  <div class = 'slide'>
                  <p class="stats-screen__total-op-text">Números favoritos</p>
                  <div id = 'favorite-numbers'> </div>
                  <img class="stats-screen__fav-op-img" id ="podium" src="<%= require('./img/podium.svg').default %>" />
                </div>
                </li>
                <li class="glide__slide">
                  <div class = "slide" id = "favorite-operations-slide">
                  
                </div>
              </li>
                <div class = "glide__slide">
                <div class = "slide">
                  <p class="stats-screen__total-op-text">
                    Dia com mais operações
                  </p>
                  <p class="stats-screen__total-op-value" id="favorite-days">
                    No data yet
                  </p>
                  <img class="stats-screen__fav-op-img" id ="calendar" src="<%= require('./img/calendar.svg').default %>" />

                </div>
              </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
