body {
  background-color: grey;
  font-family: Inter;
}

.calc-screen {
  display: flex;
  flex-direction: column;
  height: 569px;
  width: 296px;
  background-color: #ffffff;
  margin: 0px;
}

.screen-header {
  width: 100%;
  height: 24px;
  background-color: #e3e4e5;
  opacity: 10%;
}

.screen-display {
  width: 100%;
  height: 177px;
  background-color: #e3e4e5;
  opacity: 10%;
}

.operate-screen {
  width: 100%;
  height: 368px;
}
#buttons-container {
  margin: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 32px;
}
.button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#operation-button {
  background-color: rgb(104, 89, 179, 0.05);
}

#operation-text {
  color: rgb(104, 89, 179);
}

p {
  text-align: center;
}

#equal-button {
  width: 112px;
  border: rgb(104, 89, 179);
  border-width: 10px;
}
